body{
  background-image: url(Imagen/fondo.jpg);
  background-position: center center; /* Centra la imagen en la página */
  background-repeat: no-repeat; /* Asegura que la imagen no se repita */
  background-attachment: fixed; /* La imagen no se desplaza con el contenido */
  background-size: cover; /* Hace que la imagen cubra todo el viewport */
  height: 100vh; /* Altura completa del viewport */
}
.centrado{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.envelope {
  width: 290px;
  height: 290px;
  background: #ccc;
  position: relative;
  transition: height 0.3s;
  background-color: #000;
  border-top-left-radius: 10px; /* Esto redondea las esquinas */
  border-top-right-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: azure 4px double;
}

.flap {
  position: absolute;
  top: 0;
  left: -8px;
  right: 0;
  height: 338px;
  width: 297px;
  background-image: url(Imagen/boton1.png);
  background-position: center;
  background-repeat: no-repeat; /* Asegura que la imagen no se repita */
  transform-origin: top;
  transition: transform 0.3s;
  background-size: cover;
  background-color: #000;
  cursor: pointer;
  border-radius: 15px;
  z-index: 3;
  border: #0a66c2 5px double;
  margin-top: -5px;
}

.card {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10px;
  background: white;
  border: 1px solid #000;
  box-sizing: border-box;
  border-bottom-left-radius: 10px; /* Esto redondea las esquinas */
  border-bottom-right-radius: 10px;
  background-color: #e6ccb0;
  border: black 4px double;
  width: 290px;
}

/* Ocultamos el input real */
#toggle {
  display: none;
}

/* Estilizamos la etiqueta como la solapa del sobre */
#toggle:checked + .flap {
  transform: scaleY(0);
}

#toggle:checked ~ .card {
  display: flex;

}

/* @keyframes color-change { 
  0% { background-color: rgb(224, 16, 16) }
  20% { background-color: rgb(226, 116, 14);}
  40% { background-color: rgb(205, 226, 14);}
  60% { background-color: rgb(2, 160, 15);}
  80% { background-color: rgb(9, 78, 226);}
  100% { background-color: rgb(128, 9, 226);}
}

body {
  animation-name: color-change;
  animation-duration: 20s;  Duración de 3 segundos 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;  Alterna la animación de ida y vuelta 
  width: 100%;
  height: 100vh;  100% de la altura de la pantalla 
  position: absolute;
  top: 0;
  left: 0;
}*/
#fotoMia{
  width: 60px;
  border-radius: 5px;
}

p{
  color: azure;
  margin: 10px;
  font-family: sans-serif;
}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
}

.card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4,.card .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
  width: 46px;
  height: 23px;
  margin-right: 7px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #242c34;
  animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
  background-color: #00af0f;
  animation: bounce_613 0.4s linear;
}

.card .social-link4:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
.cv:hover{
    background-color: rgba(153, 176, 250, 0.959);
    animation: bounce_613 0.4s linear;
}
.cv{
  color: whitesmoke;
  display: flex;
  height: 10%;
  font-size: 24px;
  font-weight: 700;
  transition: opacity 0.25s;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 50px;
  text-decoration: none;
}