 body {
    background: url(LogoBB.png) no-repeat center center fixed; /* Establece la imagen como fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
    margin: 0;
    padding: 0;
  }
  
  .content {
    /* Estilos para el contenido de tu página */
    text-align: center;
    padding: 20px;
  }
  .content {
    /* Estilos para el contenido de tu página */
    text-align: center;
    padding: 20px;
  }

  a {
    color: white; /* Establece el color de texto para los hipervínculos en blanco */
    text-decoration: none; /* Opcional: quita la subraya predeterminada de los enlaces */
  }
  
  h1 {
    color: white; /* Establece el color de texto para los encabezados h1 en blanco */
  }
  p{
    color: white; /* Establece el color de texto para los hipervínculos en blanco */
    text-decoration: none; /* Opcional: quita la subraya predeterminada de los enlaces */
  }
 